
*{
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #090c1a;

}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #090c1a;
    color: white;
    padding: 1.9rem 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    gap:3%;
}

.navBar a {
    color: #a5a6a7;
    text-decoration: none;
    font-weight: bold;
    
    font-size:2rem;
}

.navBar a:hover{
    color: #f9f9f9;
}

main {
    padding-top: 3rem;
    margin: 0 9% ;
}
.about{
    
    display: flex;
    flex-direction: column;
    width: 100%;
}


.description{

    
    text-align: center;
    align-items: center;
    padding-top: 6rem;

}
.shadow {
    box-shadow: 0 0 .5em #0e172e;
    transition: box-shadow .25s;
}


.description p{
    color: #f9f9f9;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.description h1{
    color: #f9f9f9;
    font-size: 4rem;
}

 span{
    
    color: rgb(45 140 252 / 1);
    
}





.about{
    display: flex;
    justify-content: center;
    padding: 4rem 0;

}

.whoiam h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: xx-large;
    margin-bottom: 20px;
    
}

.whoiam p{
    color: #f9f9f9;
    font-size: 1rem;
}

.media{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.childMedia{
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}
.childMedia img{
    height: 3rem;
    width: auto;
    margin: auto;
}
.childMedia p{
    margin-top:3rem;
    font-size: 2rem;
}

.mySkills{
    margin: 5%;
    text-align: center;
    display: flex;
    flex-direction: none;
    justify-content: center;

}


.mySkills h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
}
.gridChild img {
    height: 20vh;
    width: auto;
/* Centra la imagen horizontalmente */
    border-radius: 30px;

}

.gridCont{
    grid-gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr)
}



.gridChild{

    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.gridChild h3{
    color: #f9f9f9;
    margin-top: 20px;
    font-size: 3rem;
}

.contact{
    margin: 4% 5%;
}

.contactContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactContainer h3{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
}

.contactContainer p,a{
    color: #f9f9f9;
    text-decoration: none;
    margin-top: 5px;
}

.itemContact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.itemChild{

    border-radius: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 2%;
    padding: 20px;
    width: 300px;
}

.get{
    display: flex;
    justify-content: center;
    gap:10px;
}



.getBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-color: rgb(2 110 237 / 1);
    width: 20rem;
    background-color: #090c1a;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.getBtn img{
    height: 4rem;
    width: auto;  
}

.getBtn span{
   color: #f9f9f9;
   font-size: 2rem;
   margin-top: 1rem;
}

.educationContainer h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: xx-large;
    margin-bottom: 20px;

}

.childEducation{
    display: flex;
    gap: 20px;
    margin: 5% 0;
  
}

.childEducation h3{
    color: #f9f9f9;
    font-size: 3rem;
}

.childEducation img{
    height: 6rem;
    width: auto;
}

.childEducation p{
    color:#f9f9f9;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.childEducation span{
    color: rgb(2 110 237 / 1);
}


.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    width: 100%;

}
.projects h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size:3rem;
    margin-bottom: 20px;
    text-align: center;
}

.projectCont{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #0e172e;
    width: 100%;
    color:#f9f9f9;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.projectBody{
    display: flex;
    justify-content: center;
    text-align: center;
}

.headerChild{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0.2rem 0;
    font-size: 2rem;
}

.headerChild img{
    height: 7rem;
    width: auto;    
    border-radius: 10px;
}



.technologies{
    display: flex;
    gap: 7px;
    justify-content: center;
    margin: 1rem 0;

}

.technologies p{
   background-color:  rgb(45 140 252 / 1);
   color: #090c1a;
   font-weight: 700;
   font-family: "Poppins", sans-serif;
   padding:3px;
   border-radius: 10px;

   font-size: 1.5rem
   
}



.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}

.links img{

    height: 4rem;
    width: auto;
}


.contactChild h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;

}

.contactChild p{
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 2rem;
}



.contactChild h3{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form input{

    caret-color: #FFFFFF; /* Cambia el color de la línea a blanco */
    padding: 2rem;
}

.form ::placeholder{
    font-size: 1.5rem;
}


.form input,textarea{
    background-color:#0e172e;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #f9f9f9;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.form textarea{

    display: flex;
    justify-content: center;
    width: 100%; /* Ocupa todo el ancho */
    height: auto; /* Altura automática */
    resize: vertical; /* Solo se puede redimensionar verticalmente */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
    padding: 2rem; /* Agrega un padding para que el texto no se pegue al borde */
}





.formBtn{
    background-color: rgb(45 140 252 / 1);
    border: none;
    padding: 1rem;
    color: #f9f9f9;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
}


.date{
    color: #a5a6a7!important;
    font-size: 1rem!important;

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    margin: 2rem 0;

}

footer p{
    font-family: Besley, serif;
    color: #f9f9f9;
    text-align: center;
    font-size: 3rem;
}
.error {
    border: 1px solid red!important;
    
}

.error :input {
    border: 1px solid red!important;
    color: red!important;
}
@keyframes slideDown {
    0% {
      transform: translateY(-100%) translateX(-40%);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(-40%);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(0) translateX(-40%);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%) translateX(-40%);
      opacity: 0;
    }
  }
  
  .alert {
    overflow: hidden; /* Oculta el contenido del elemento hasta que se aplica la animación */
    position: fixed;
    top: 10vh; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%) translateY(-100%); /* Oculta el elemento fuera de la pantalla inicialmente */
    opacity: 0; /* Oculta el elemento inicialmente */
  }
  
  .alertContainer {
    display: flex;
    gap: 10px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #0e172e;
    color: #f9f9f9;
  }

  .g-recaptcha{
    margin: auto;
    
    padding: 2rem;

    }
    .catchaError{
        border: 1px solid red;
        border-radius: 5px;
        margin: auto;
        padding: 2rem;
    }
  
  .slideDown {
    animation: slideDown 0.5s ease-out forwards;
  }
  
  .slideOut {
    animation: slideOut 0.5s ease-out forwards;
  }
  
  .alert img {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(45 140 252 / 1);
  }
  
  .alert p {
    margin-top: 5px;
  }
  


/* Mediaquery */
@media (min-width: 900px) {
 
    
  }
@media (min-width: 1024px) {
    .gridCont {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    .itemContact{
        justify-content: center;
        flex-direction: row;
    }
    
    .contact{
        display: flex;
        margin: auto;
        
    }
    .contactChild{
        width: 50%;
    }
    .contactChild p{
        margin:6rem auto;
        width: 80%;
    }
    .form{
        width: 70%;
        margin: auto;
    }
  }
  
  
