
*{
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #090c1a;

}




  .sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    padding-top: 2rem;
    right: 0;
    background-color: #090c1a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    margin: 2rem;
    text-decoration: none;
    font-size: 2.6rem;
    text-align: center;
    color: #f9f9f9;
    display: block;
    transition: 0.3s;
  }

  .language{
    font-size: 2.1rem;
    text-align: center;
    color: #f9f9f9;
    margin: 1rem 0;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {

    position: absolute;
    top: 0;
    right: 10px;
    bottom: 10px;
    font-size: 36px;
    margin-right: 1rem;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    float: right;
    padding: 1.7rem;
    background-color: #090c1a;
    top: -10px;
    box-shadow: 0 1rem 2em #0e172e;
    transition: box-shadow .25s;
    right: 9px;
  }
  

main {
    padding-top: 1rem;
    margin: 7% 10% 0 10%;
}
.about{
    
    display: flex;
    flex-direction: column;
    width: 100%;
}


.description{

    
    text-align: center;
    align-items: center;
    padding-top: 6rem;

}
.shadow {
    box-shadow: 0 0.5rem 2em #0e172e;
    transition: box-shadow 0.25s;
}

.shadow:hover{
    box-shadow: none
}


/* flags */

.flags{
    position: relative;
    left: 0;
    
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}
  .hidden {
    display: none;
  }

.flags__item{
    cursor: pointer;
    width: 6'px;
}

.flags__item img{
    height: 5rem;
    width: auto;
    border-radius: 10px;
}

.description p{
    color: #f9f9f9;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.description h1{
    color: #f9f9f9;
    font-size: 5rem;
}

 span{
    
    color: rgb(45 140 252 / 1);
    
}





.about{
    display: flex;
    justify-content: center;
    padding: 4rem 0;

}

.whoiam h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 4rem;
    margin-bottom: 20px;
    
}

.whoiam p{
    color: #f9f9f9;
    font-size: 3rem;
}

.media{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.childMedia{
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}
.childMedia img{
    height: 3rem;
    width: auto;
    margin: auto;
}
.childMedia p{
    margin-top:3rem;
    font-size: 2rem;
}

.mySkills{
    margin: 5%;
    text-align: center;
    display: flex;
    flex-direction: none;
    justify-content: center;

}


.mySkills h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
}
.gridChild img {
    height: 10vh;
    width: auto;
/* Centra la imagen horizontalmente */
    border-radius: 30px;

}

.gridCont{
    grid-gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr)
}



.gridChild{

    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.gridChild h3{
    color: #f9f9f9;
    margin-top: 20px;
    font-size: 3rem;
}

.contact{
    margin: 4% 5%;
}

.contactContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactContainer h3{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
}

.contactContainer p,a{
    color: #f9f9f9;
    text-decoration: none;
    margin-top: 5px;
}

.itemContact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.itemChild{

    border-radius: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 2%;
    padding: 20px;
    width: 300px;
}

.get{
    display: flex;
    justify-content: center;
    gap:10px;
}



.getBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-color: rgb(2 110 237 / 1);
    width: 20rem;
    background-color: #090c1a;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.getBtn img{
    height: 4rem;
    width: auto;  
}

.getBtn span{
   color: #f9f9f9;
   font-size: 2rem;
   margin-top: 1rem;
}

.educationContainer h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 4rem;
    margin-bottom: 20px;

}

.childEducation{
    display: flex;
    gap: 20px;
    margin: 5% 0;
  
}

.childEducation h3{
    color: #f9f9f9;
    font-size: 3rem;
}

.childEducation img{
    height: 6rem;
    width: auto;
}

.childEducation p{
    color:#f9f9f9;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.childEducation span{
    color: rgb(2 110 237 / 1);
}


.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    width: 100%;


}
.projects h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size:4rem;
    margin-bottom: 20px;
    text-align: center;
}

.projectCont{


    margin: auto;
    background-color: #0e172e;
    color:#f9f9f9;
    border-radius: 20px;
    font-size: 2.9rem;
    padding:2rem ;
}

.projectBody{
    display: flex;
    justify-content: center;
    text-align: center;
}

.headerChild{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.2rem 0;
    font-size: 3rem;
}

.headerChild img{
    height: 7rem;
    width: auto;    
    border-radius: 10px;
}



.technologies{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 1rem 0;

}

.technologies p{
   background-color:  rgb(45 140 252 / 1);
   color: #090c1a;
   font-weight: 700;
   font-family: "Poppins", sans-serif;
   padding:5px 10px;
   border-radius: 20px;

   font-size: 1.9rem
   
}



.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}

.links img{

    height: 4rem;
    width: auto;
}


.contactChild h2{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;

}

.contactChild p{
    color: #f9f9f9;
    text-align: center;
    font-size: 3rem;

    margin-bottom: 2rem;
}



.contactChild h3{
    color: #f9f9f9;
    font-family: Besley, serif;
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form input{

    caret-color: #FFFFFF; /* Cambia el color de la línea a blanco */
    padding: 2rem;
}

.form ::placeholder{
    font-size: 1.9rem;
}


.form input,textarea{
    background-color:#0e172e;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #f9f9f9;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.form textarea{

    display: flex;
    justify-content: center;
    width: 100%; /* Ocupa todo el ancho */
    height: auto; /* Altura automática */
    resize: vertical; /* Solo se puede redimensionar verticalmente */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
    padding: 2rem; /* Agrega un padding para que el texto no se pegue al borde */
}





.formBtn{
    background-color: rgb(45 140 252 / 1);
    border: none;
    padding: 1rem;
    color: #f9f9f9;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2.5rem;
}


.date{
    color: #a5a6a7!important;
    font-size: 1rem!important;

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    margin: 2rem 0;

}

footer p{
    font-family: Besley, serif;
    color: #f9f9f9;
    text-align: center;
    font-size: 4rem;
}
.error {
    border: 1px solid red!important;
    
}

.error :input {
    border: 1px solid red!important;
    color: red!important;
}
@keyframes slideDown {
    0% {
      transform: translateY(-100%) translateX(-40%);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(-40%);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(0) translateX(-40%);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%) translateX(-40%);
      opacity: 0;
    }
  }
  
  .alert {
    overflow: hidden; /* Oculta el contenido del elemento hasta que se aplica la animación */
    position: fixed;
    top: 13vh; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%) translateY(-100%); /* Oculta el elemento fuera de la pantalla inicialmente */
    opacity: 0;/* Oculta el elemento inicialmente */
  }
  
  .alertContainer {
    display: flex;
    gap: 10px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #0e172e;
    color: #f9f9f9;
  }

  .g-recaptcha{
    
    width: 100%;
    display: flex;
    justify-content: center;
    transform: scale(1.5);
    margin: auto;
    padding:2rem 0 ;
    }

  
  .slideDown {
    animation: slideDown 0.5s ease-out forwards;
  }
  
  .slideOut {
    animation: slideOut 0.5s ease-out forwards;
  }
  
  .alert img {
    height: 5rem;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(45 140 252 / 1);
  }
  
  .alert p {
    margin-top: 5px;
    font-size: 2rem;
  }
  

/* Mediaquery */

@media (min-width: 1024px) {
    .alert img {
        height: 3rem;
        margin-top: 0.5rem;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(45 140 252 / 1);
      }
      
      .alert p {
        margin-top: 0.8rem;
        font-size: 1rem;
      }
    .alertContainer {
        display: flex;
        gap: 10px;
        padding: 0.5rem;
        border-radius: 10px;
        background-color: #0e172e;
        color: #f9f9f9;
      }
    
    .alert {
        overflow: hidden; /* Oculta el contenido del elemento hasta que se aplica la animación */
        position: fixed;
        top: 20vh; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translateX(-50%) translateY(-100%); /* Oculta el elemento fuera de la pantalla inicialmente */
        opacity: 0;/* Oculta el elemento inicialmente */
      }
    .shadow {
        box-shadow: 0 0.2rem 1em #0e172e;
        transition: box-shadow .25s;
    }
    
    .navBar {

        padding: 1.2rem !important;
        border-radius: 20px;
   
    }

.flags__item img{
    height: 2.5rem;
    width: auto;
    border-radius: 10px;
}

    .g-recaptcha{

    transform: scale(1.2);
   

    }

    footer{
        padding: 1rem;
    }
    footer p{
        font-size: 2rem;

    }
    .form input{

        caret-color: #FFFFFF; /* Cambia el color de la línea a blanco */
        padding: 1rem;
        font-size: 1rem;
    }

    .form textarea{
        padding: 1rem;
        font-size: 1rem;

    }
    

.form ::placeholder{
    font-size: 1rem;
}


    .formBtn{
        font-size: 1rem;
    }

    .whoiam h2{
        font-size: 2rem;
    }

    .contact h2{
        font-size: 2rem;
    }

    .form h3{
        font-size: 2rem;
    }

    .contactChild p{
        font-size: 1.5rem;
    }
    .whoiam p{
        font-size: 1.5rem;
    }
    
    .educationContainer h2{
        font-size: 2.3rem;
        text-align: center;
    }
    


    .projectBody p{
        font-size: 1.5rem;
    }
    .childMedia img{
        height: 2rem;
        width: auto;
        margin: auto;
    }
    .media p{
        margin-top:3rem;
        font-size:10em;
    }

    .gridChild img{
        height: 20vh;
    }
    
    .mySkills h2{
        font-size: xx-large;
    }
    .mySkills h3{
        font-size: 1.5rem;
    }

    .childEducation p{
        font-size: 1rem;
    }
    .childEducation h3{
        font-size: 2rem;
    }

    .projects h2{
        font-size: xx-large;
    }

    .projectCont{
        max-width: 50%;
        margin-top: 2rem;
    }

    .technologies p{
        font-size: 1rem;
    }
    .headerChild h3{
        font-size: 1.5rem;
    }
    .headerChild img{
        height: 3rem;
    }

    .links img{
        height: 2.5rem;
    }

    .row{
        display: flex;
        flex-direction: row;
    }
    .childEducation img{
       height: 4rem;
       width: auto;
    }

    .gridCont {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    .itemContact{
        justify-content: center;
        flex-direction: row;
    }
    .navBar a {

        
        font-size:1.3rem;
    }
    .getBtn{


        width: 10rem;

        padding: 1rem;

    }
    
    .getBtn img{
        height: 2rem;
        width: auto;  
    }
    
    .getBtn span{
       color: #f9f9f9;
       font-size: 1rem;
       margin-top: 0.5rem;
    }
    .description h1{
        font-size: 2rem;        
    }
    .description p{
        font-size: 1.5rem;        
    }
    
    .contact{
        display: flex;
        margin: auto;
        
    }
    .contactChild{
        width: 50%;
    }
    .contactChild p{
        margin:6rem auto;
        width: 80%;
    }
    .form{
        width: 70%;
        margin: auto;
    }
  }
  
  
